# Ignore everything at the root
/*

# Except these directories
!/assets/
!/docs/
!/plugins/
!/.claude-plugin/
!/.opencode/
!/CLAUDE.md
!/plans/
!/scripts/

# And these files
!LICENSE.md
!README.md
!package.json
!.gitignore
.DS_Store
!/reload.sh